{"openapi":"3.0.0","info":{"title":"Suno Music Generation","version":"1.0.0","description":"API reference for Suno Music Generation on Ace Data Cloud."},"servers":[{"url":"https://api.acedata.cloud","description":"Ace Data Cloud API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API token from https://platform.acedata.cloud"}},"schemas":{"SunoTaskRequestPayload":{"type":"object","additionalProperties":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskrequestpayload.3E062458C7F6"},"SunoTaskResultPayload":{"type":"object","additionalProperties":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskresultpayload.70C135D0B754"},"SunoTaskRecord":{"type":"object","required":["id","type","created_at","trace_id","request"],"properties":{"id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Id.2Ce47Ae4F765"},"type":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Type.05Af5F440924"},"trace_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Trace Id.44110346F517"},"request":{"$ref":"#/components/schemas/SunoTaskRequestPayload"},"response":{"$ref":"#/components/schemas/SunoTaskResultPayload"},"created_at":{"type":"number","format":"double","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Created At.948F43Af8E76"},"started_at":{"type":"number","format":"double","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Started At.C19F4A52708A"},"finished_at":{"type":"number","format":"double","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Finished At.8F12D5548Eb7"},"elapsed":{"type":"number","format":"double","minimum":0,"nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Elapsed.17Db47167Dec"},"user_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.User Id.D0C635924606"},"actor_user_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Actor User Id.E7726Bfef8Aa"},"api_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Api Id.A1656C524De0"},"application_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Application Id.22Aafdc143Ef"},"credential_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Credential Id.Feaa9Eb189Eb"},"authorization_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Authorization Id.0Ad648E308Bd"}}}}},"security":[{"bearerAuth":[]}],"paths":{"/suno/voices":{"post":{"summary":"Suno Voices","security":[{"bearerAuth":[]}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"data":{"persona_id":"dde0be60-5280-4bd2-89a0-4020ddd3db52","name":"My Voice","is_public":false},"success":true,"task_id":"8e808558-f056-456f-91d6-b97fd94eb3be"},"properties":{"data":{"type":"object","description":"Suno Voices Response 200 Data","properties":{"persona_id":{"type":"string","description":"Suno Voices Response 200 Data Persona Id"},"name":{"type":"string","description":"Suno Voices Response 200 Data Name"},"is_public":{"type":"boolean","description":"Suno Voices Response 200 Data Is Public"}}},"task_id":{"type":"string","description":"Suno Voices Response 200 Task Id"},"success":{"type":"boolean","description":"Suno Voices Response 200 Success"}}}}},"description":"Suno Voices Response 200"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"token_mismatched","message":"The specified token is not matched with API."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Suno Voices Response 400 Error Code"},"message":{"type":"string","example":"The specified token is not matched with API.","description":"Suno Voices Response 400 Error Message"}}},"trace_id":{"type":"string","description":"Suno Voices Response 400 Trace Id"}}},{"type":"object","example":{"error":{"code":"bad_request","message":"audio_url is required."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"bad_request","description":"Suno Voices Response 400 Error Code 2"},"message":{"type":"string","example":"audio_url is required.","description":"Suno Voices Response 400 Error Message 2"}}},"trace_id":{"type":"string","description":"Suno Voices Response 400 Trace Id 2"}}},{"type":"object","example":{"error":{"code":"no_token","message":"No token specified for the request."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"no_token","description":"Suno Voices Response 400 Error Code 3"},"message":{"type":"string","example":"No token specified for the request.","description":"Suno Voices Response 400 Error Message 3"}}},"trace_id":{"type":"string","description":"Suno Voices Response 400 Trace Id 3"}}}]}}},"description":"Suno Voices Response 400"},"401":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"invalid_token","message":"The specified token is invalid or wrong."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_token","description":"Suno Voices Response 401 Error Code"},"message":{"type":"string","example":"The specified token is invalid or wrong.","description":"Suno Voices Response 401 Error Message"}}},"trace_id":{"type":"string","description":"Suno Voices Response 401 Trace Id"}}}]}}},"description":"Suno Voices Response 401"},"403":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"used_up","message":"Your balance is not sufficient for current request, please buy more in Ace Data Cloud."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"used_up","description":"Suno Voices Response 403 Error Code"},"message":{"type":"string","example":"Your balance is not sufficient for current request, please buy more in Ace Data Cloud.","description":"Suno Voices Response 403 Error Message"}}},"trace_id":{"type":"string","description":"Suno Voices Response 403 Trace Id"}}}]}}},"description":"Suno Voices Response 403"},"429":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"too_many_requests","message":"You have exceeded the rate limit."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"too_many_requests","description":"Suno Voices Response 429 Error Code"},"message":{"type":"string","example":"You have exceeded the rate limit.","description":"Suno Voices Response 429 Error Message"}}},"trace_id":{"type":"string","description":"Suno Voices Response 429 Trace Id"}}}]}}},"description":"Suno Voices Response 429"},"500":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"api_error","message":"Internal server error."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_error","description":"Suno Voices Response 500 Error Code"},"message":{"type":"string","example":"Internal server error.","description":"Suno Voices Response 500 Error Message"}}},"trace_id":{"type":"string","description":"Suno Voices Response 500 Trace Id"}}}]}}},"description":"Suno Voices Response 500"}},"parameters":[{"in":"header","name":"accept","schema":{"enum":["application/json","application/x-ndjson"],"type":"string"},"required":false,"description":"Suno Voices Param Accept"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["audio_url"],"properties":{"audio_url":{"type":"string","description":"Suno Voices Audio Url"},"name":{"type":"string","description":"Suno Voices Name"},"description":{"type":"string","description":"Suno Voices Description"}}},"example":{"audio_url":"https://cdn.acedata.cloud/suno_demo.mp3","name":"Demo Voice"}}},"required":true},"operationId":"createSunoVoices"}}}}
