{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital Human Videos",
    "version": "1.0.0",
    "description": "Generate an offline talking-head video: a face (video/photo) + a voice (audio or cloned voice_id + text) -> a lip-synced MP4. Aligned with /kling/talking-photo and /seedance/videos."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud"
    }
  ],
  "paths": {
    "/digital-human/videos": {
      "post": {
        "summary": "Digital Human Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "Public URL of the source face video (preferred). Supply either video_url or image_url.",
                    "example": "https://cdn.acedata.cloud/634d760216.mp4"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Public URL of a source face photo (photo-driven path). Supply either video_url or image_url."
                  },
                  "audio_url": {
                    "type": "string",
                    "description": "Public URL of the driving audio (.wav/.mp3/.m4a). OR supply text(+voice_id)."
                  },
                  "text": {
                    "type": "string",
                    "description": "Spoken text -> TTS (requires voice_id).",
                    "example": "大家好，这是离线生成的数字人。"
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "A cloned voice from POST /digital-human/voices."
                  },
                  "engine": {
                    "type": "string",
                    "enum": [
                      "latentsync",
                      "heygem"
                    ],
                    "default": "latentsync",
                    "deprecated": true,
                    "description": "[Deprecated] Accepted for backward compatibility but no longer changes the output or the price — every request is billed at the unified rate."
                  },
                  "guidance": {
                    "type": "number",
                    "default": 2.0,
                    "description": "Lip-sync strength (LatentSync). Lower loosens sync."
                  },
                  "steps": {
                    "type": "integer",
                    "default": 40,
                    "description": "Diffusion steps (LatentSync)."
                  },
                  "seam_fix": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply the mouth-seam reduction blend."
                  },
                  "speed": {
                    "type": "number",
                    "default": 1.0,
                    "description": "Audio tempo multiplier."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "720p",
                      "540p"
                    ],
                    "default": "720p",
                    "deprecated": true,
                    "description": "[Deprecated] Output is always rendered at 720p."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook; if set (or async=true) returns task_id immediately."
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "0c0b4d3a-2f1e-4a6b-9c2d-2b3c4d5e6f70",
                    "trace_id": "a9063166-26ed-4451-85b5-54e896817c69",
                    "video_url": "https://cdn.acedata.cloud/634d760216.mp4",
                    "duration": 17.2,
                    "width": 1280,
                    "height": 720,
                    "engine": "latentsync",
                    "state": "succeed"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "duration": {
                      "type": "number",
                      "format": "double"
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "engine": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "bad_request",
                      "message": "video_url or image_url is required"
                    },
                    "trace_id": "..."
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "invalid_token",
                      "message": "The specified token is invalid or wrong."
                    },
                    "trace_id": "..."
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "403": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "used_up",
                      "message": "Your balance is not sufficient for current request."
                    },
                    "trace_id": "..."
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "too_many_requests",
                      "message": "You have exceeded the rate limit."
                    },
                    "trace_id": "..."
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "api_error",
                      "message": "Internal server error."
                    },
                    "trace_id": "..."
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "operationId": "createDigitalHumanVideos"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
