{"openapi":"3.0.0","info":{"title":"OpenAI generation","version":"1.0.0","description":"API reference for OpenAI generation on Ace Data Cloud."},"servers":[{"url":"https://api.acedata.cloud","description":"Ace Data Cloud API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API token from https://platform.acedata.cloud"}},"schemas":{"ResponsesInput":{"oneOf":[{"type":"string"},{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ResponsesInputItem"}}],"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesinput.14Feedcd5C3D"},"ResponsesInputItem":{"oneOf":[{"$ref":"#/components/schemas/ResponsesMessageInput"},{"$ref":"#/components/schemas/ResponsesFunctionToolCall"},{"$ref":"#/components/schemas/ResponsesFunctionToolCallOutput"},{"$ref":"#/components/schemas/ResponsesCustomToolCall"},{"$ref":"#/components/schemas/ResponsesCustomToolCallOutput"},{"$ref":"#/components/schemas/ResponsesAdditionalTools"},{"$ref":"#/components/schemas/ResponsesOpenInputItem"}],"discriminator":{"propertyName":"type"}},"ResponsesMessageInput":{"type":"object","required":["role","content"],"properties":{"type":{"type":"string","enum":["message"]},"role":{"type":"string","enum":["user","assistant","system","developer"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]},"phase":{"type":"string","nullable":true}}},"ResponsesCustomToolCall":{"type":"object","required":["type","call_id","name","input"],"properties":{"type":{"type":"string","enum":["custom_tool_call"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.8C6Ca8028A3E"},"name":{"type":"string"},"namespace":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.713201D1840C"},"input":{"type":"string"}},"additionalProperties":true},"ResponsesCustomToolCallOutput":{"type":"object","required":["type","call_id","output"],"properties":{"type":{"type":"string","enum":["custom_tool_call_output"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.56Bb02E66Ff9"},"output":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]}},"additionalProperties":true},"ResponsesAdditionalTools":{"type":"object","required":["type","role","tools"],"properties":{"type":{"type":"string","enum":["additional_tools"]},"role":{"type":"string","enum":["developer"]},"tools":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ResponsesTool"}}}},"ResponsesTool":{"oneOf":[{"$ref":"#/components/schemas/ResponsesCustomTool"},{"$ref":"#/components/schemas/ResponsesFunctionTool"},{"$ref":"#/components/schemas/ResponsesNamespaceTool"},{"$ref":"#/components/schemas/ResponsesOpenTool"}],"discriminator":{"propertyName":"type"}},"ResponsesCustomTool":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["custom"]},"name":{"type":"string"},"description":{"type":"string"},"format":{"type":"object","additionalProperties":true}}},"ResponsesFunctionTool":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["function"]},"name":{"type":"string"},"description":{"type":"string"},"parameters":{"type":"object","nullable":true,"additionalProperties":true},"strict":{"type":"boolean","nullable":true}}},"ResponsesNamespaceTool":{"type":"object","required":["type","name","description","tools"],"properties":{"type":{"type":"string","enum":["namespace"]},"name":{"type":"string","minLength":1,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.E87F9B9F039A"},"description":{"type":"string"},"tools":{"type":"array","minItems":1,"items":{"oneOf":[{"$ref":"#/components/schemas/ResponsesCustomTool"},{"$ref":"#/components/schemas/ResponsesFunctionTool"}],"discriminator":{"propertyName":"type"}}}}},"ResponsesOutputItem":{"oneOf":[{"$ref":"#/components/schemas/ResponsesOutputMessage"},{"$ref":"#/components/schemas/ResponsesFunctionToolCall"},{"$ref":"#/components/schemas/ResponsesCustomToolCall"},{"$ref":"#/components/schemas/ResponsesOpenOutputItem"}],"discriminator":{"propertyName":"type"}},"ResponsesOutputMessage":{"type":"object","required":["type","role","content"],"properties":{"type":{"type":"string","enum":["message"]},"id":{"type":"string"},"role":{"type":"string","enum":["assistant"]},"status":{"type":"string"},"content":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"ResponsesUsage":{"type":"object","required":["input_tokens","output_tokens","total_tokens"],"properties":{"input_tokens":{"type":"integer"},"output_tokens":{"type":"integer"},"total_tokens":{"type":"integer"},"input_tokens_details":{"type":"object","additionalProperties":true},"output_tokens_details":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ResponsesResponse":{"type":"object","required":["id","object","status","model","output"],"properties":{"id":{"type":"string"},"object":{"type":"string","enum":["response"]},"created_at":{"type":"integer"},"status":{"type":"string","enum":["completed","failed","in_progress","incomplete","queued","cancelled"]},"model":{"type":"string"},"output":{"type":"array","items":{"$ref":"#/components/schemas/ResponsesOutputItem"}},"output_text":{"type":"string"},"usage":{"allOf":[{"$ref":"#/components/schemas/ResponsesUsage"}],"nullable":true},"error":{"type":"object","nullable":true,"additionalProperties":true}},"additionalProperties":true},"ResponsesStreamEvent":{"type":"object","required":["type"],"properties":{"type":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Type.Fab6416D3441"},"response":{"$ref":"#/components/schemas/ResponsesResponse"},"item":{"$ref":"#/components/schemas/ResponsesOutputItem"},"output_index":{"type":"integer"},"delta":{"type":"string"}},"additionalProperties":true},"ResponsesFunctionToolCall":{"type":"object","required":["type","call_id","name","arguments"],"properties":{"type":{"type":"string","enum":["function_call"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.4A7F97Cae969"},"name":{"type":"string"},"arguments":{"type":"string"},"status":{"type":"string"}},"additionalProperties":true},"ResponsesFunctionToolCallOutput":{"type":"object","required":["type","output"],"properties":{"type":{"type":"string","enum":["function_call_output"]},"id":{"type":"string"},"call_id":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.2De867Df3989"},"output":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]},"name":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.C324F7126A7C"},"namespace":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.Bf3297183432"}},"additionalProperties":true},"ResponsesOpenInputItem":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["message","function_call","function_call_output","custom_tool_call","custom_tool_call_output","additional_tools"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopeninputitem.E574D2Efca8F"},"ResponsesOpenTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["custom","function","namespace"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopentool.7F928862419E"},"ResponsesOpenOutputItem":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["message","function_call","custom_tool_call"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopenoutputitem.03A8Aa0Cff8B"},"OpenaiTaskRequestPayload":{"type":"object","additionalProperties":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskrequestpayload.5B2983943843"},"OpenaiTaskResultPayload":{"type":"object","additionalProperties":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskresultpayload.6A35F882Aa4E"},"OpenaiTaskRecord":{"type":"object","required":["id","type","created_at","trace_id","request"],"properties":{"id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Id.F0C4D04Ac901"},"type":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Type.2377365D580B"},"trace_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Trace Id.294E865Afe7D"},"request":{"$ref":"#/components/schemas/OpenaiTaskRequestPayload"},"response":{"$ref":"#/components/schemas/OpenaiTaskResultPayload"},"created_at":{"type":"number","format":"double","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Created At.7Eb1Ea25D63F"},"started_at":{"type":"number","format":"double","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Started At.7B96764Eca42"},"finished_at":{"type":"number","format":"double","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Finished At.Af98E2F04Efa"},"elapsed":{"type":"number","format":"double","minimum":0,"nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Elapsed.438Ff25Abacb"},"user_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.User Id.3444939Bec0F","nullable":true},"actor_user_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Actor User Id.2952Ff9B7F38"},"api_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Api Id.45Cf1B2E805B"},"application_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Application Id.3Fbf90Fcc98C"},"credential_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Credential Id.7E41Bc205Fd2"},"authorization_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Authorization Id.271938Ba5A22"}}}}},"security":[{"bearerAuth":[]}],"paths":{"/openai/embeddings":{"post":{"summary":"Creates an embedding vector representing the input text.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Openai Embeddings Response 200","content":{"application/json":{"schema":{"type":"object","required":["object","data","model","usage","created"],"properties":{"object":{"type":"string","enum":["list"],"description":"Openai Embeddings Response 200 Object"},"data":{"type":"array","items":{"type":"object","required":["object","index","embedding"],"properties":{"object":{"type":"string","enum":["embedding"]},"index":{"type":"integer"},"embedding":{"description":"Openai Embeddings Response 200 Data Embedding","oneOf":[{"type":"array","items":{"type":"number"}},{"type":"string","description":"Openai Embeddings Response 200 Data Embedding 2"}]}}}},"model":{"type":"string","description":"Openai Embeddings Response 200 Model"},"usage":{"type":"object","required":["prompt_tokens","total_tokens"],"properties":{"prompt_tokens":{"type":"integer"},"total_tokens":{"type":"integer"}}},"created":{"type":"integer","description":"Openai Embeddings Response 200 Created"}}},"examples":{"float_example":{"summary":"Float embeddings","value":{"object":"list","data":[{"object":"embedding","index":0,"embedding":[0.0023064255,-0.009327292,0.015271,0.001234]}],"model":"text-embedding-3-small","usage":{"prompt_tokens":9,"total_tokens":9},"created":1714500000}},"base64_example":{"summary":"Base64 embeddings","value":{"object":"list","data":[{"object":"embedding","index":0,"embedding":"AAABQWJjMTIz..."}],"model":"text-embedding-3-large","usage":{"prompt_tokens":18,"total_tokens":18},"created":1714500000}}}}}},"400":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"token_mismatched","message":"The specified token is not matched with API."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Openai Embeddings Response 400 Error Code"},"message":{"type":"string","example":"The specified token is not matched with API.","description":"Openai Embeddings Response 400 Error Message"}}},"trace_id":{"type":"string","description":"Openai Embeddings Response 400 Trace Id"}}},{"type":"object","example":{"error":{"code":"api_not_implemented","message":"The API is not implemented."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_not_implemented","description":"Openai Embeddings Response 400 Error Code 2"},"message":{"type":"string","example":"The API is not implemented.","description":"Openai Embeddings Response 400 Error Message 2"}}},"trace_id":{"type":"string","description":"Openai Embeddings Response 400 Trace Id 2"}}}]}}},"description":"Openai Embeddings Response 400"},"401":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"invalid_token","message":"The specified token is invalid or wrong."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_token","description":"Openai Embeddings Response 401 Error Code"},"message":{"type":"string","example":"The specified token is invalid or wrong.","description":"Openai Embeddings Response 401 Error Message"}}},"trace_id":{"type":"string","description":"Openai Embeddings Response 401 Trace Id"}}}]}}},"description":"Openai Embeddings Response 401"},"429":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"too_many_requests","message":"You have exceeded the rate limit."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"too_many_requests","description":"Openai Embeddings Response 429 Error Code"},"message":{"type":"string","example":"You have exceeded the rate limit.","description":"Openai Embeddings Response 429 Error Message"}}},"trace_id":{"type":"string","description":"Openai Embeddings Response 429 Trace Id"}}}]}}},"description":"Openai Embeddings Response 429"},"500":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"api_error","message":"Internal server error."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_error","description":"Openai Embeddings Response 500 Error Code"},"message":{"type":"string","example":"Internal server error.","description":"Openai Embeddings Response 500 Error Message"}}},"trace_id":{"type":"string","description":"Openai Embeddings Response 500 Trace Id"}}}]}}},"description":"Openai Embeddings Response 500"}},"parameters":[{"in":"header","name":"accept","schema":{"enum":["application/json"],"type":"string"},"required":false,"description":"Openai Embeddings Param Accept"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","enum":["text-embedding-3-small","text-embedding-3-large","text-embedding-ada-002"],"description":"Openai Embeddings Model"},"input":{"description":"Openai Embeddings Input","oneOf":[{"type":"string","minLength":1},{"type":"array","minItems":1,"maxItems":2048,"items":{"type":"string","minLength":1}},{"type":"array","minItems":1,"items":{"type":"integer","minimum":0}},{"type":"array","minItems":1,"maxItems":2048,"items":{"type":"array","minItems":1,"items":{"type":"integer","minimum":0}}}]},"encoding_format":{"type":"string","description":"Openai Embeddings Encoding Format","enum":["float","base64"],"default":"float"},"dimensions":{"type":"integer","minimum":1,"description":"Openai Embeddings Dimensions"}}},"example":{"model":"text-embedding-3-small","input":"Hello!"}}}},"operationId":"OpenaicreateOpenaiEmbeddings"}}}}
