{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Kling Lip Sync Servers"
    }
  ],
  "paths": {
    "/kling/lip-sync": {
      "post": {
        "summary": "Kling Lip Sync",
        "description": "Kling Lip Sync",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "video_id": {
                    "type": "string",
                    "description": "Kling Lip Sync Video Id"
                  },
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Kling Lip Sync Video Url"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "audio2video",
                      "text2video"
                    ],
                    "description": "Kling Lip Sync Mode"
                  },
                  "audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Kling Lip Sync Audio Url"
                  },
                  "audio_type": {
                    "type": "string",
                    "enum": [
                      "url",
                      "file"
                    ],
                    "default": "url",
                    "description": "Kling Lip Sync Audio Type"
                  },
                  "audio_file": {
                    "type": "string",
                    "description": "Kling Lip Sync Audio File"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Kling Lip Sync Text"
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Kling Lip Sync Voice Id"
                  },
                  "voice_language": {
                    "type": "string",
                    "enum": [
                      "zh",
                      "en"
                    ],
                    "default": "zh",
                    "description": "Kling Lip Sync Voice Language"
                  },
                  "voice_speed": {
                    "type": "number",
                    "minimum": 0.8,
                    "maximum": 2.0,
                    "default": 1.0,
                    "description": "Kling Lip Sync Voice Speed"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Kling Lip Sync Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Kling Lip Sync Async"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kling Lip Sync Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "0c0b4d3a-2f1e-4a6b-9c2d-2b3c4d5e6f70",
                    "video_id": "895047463190134880",
                    "video_url": "https://cdn.acedata.cloud/bafb400e8a.mp4",
                    "duration": 5,
                    "state": "succeed"
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Kling Lip Sync Response 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "code": "bad_request",
                    "detail": "one of video_id or video_url is required"
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Kling Lip Sync Response 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "code": "authorization_missing"
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "Kling Lip Sync Response 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "code": "api_error"
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "502": {
            "description": "Kling Lip Sync Response 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error",
                    "trace_id"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "bad_gateway"
                        },
                        "message": {
                          "type": "string",
                          "example": "服务依赖返回了无法解析的响应。"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Kling Lip Sync Response 503",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error",
                    "trace_id"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "service_unavailable"
                        },
                        "message": {
                          "type": "string",
                          "example": "服务暂时不可用，请稍后重试。"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Kling Lip Sync Response 504",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error",
                    "trace_id"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "timeout"
                        },
                        "message": {
                          "type": "string",
                          "example": "任务处理超时。"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Kling Lip Sync Response 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error",
                    "trace_id"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "请求被策略或权限规则拒绝。"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Kling Lip Sync Response 429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error",
                    "trace_id"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "too_many_requests"
                        },
                        "message": {
                          "type": "string",
                          "example": "请求频率或并发超过限制。"
                        }
                      }
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "started_at": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "KlingcreateKlingLipSync"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
