{
  "openapi": "3.0.0",
  "info": {
    "title": "AceDataCloud Coding Plan",
    "version": "1.0.0",
    "description": "API reference for AceDataCloud Coding Plan on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "ClaudeCacheControlEphemeral": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ephemeral"
            ]
          },
          "ttl": {
            "type": "string",
            "enum": [
              "5m",
              "1h"
            ],
            "default": "5m"
          }
        },
        "additionalProperties": false
      },
      "ClaudeBase64ImageSource": {
        "type": "object",
        "required": [
          "type",
          "media_type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "base64"
            ]
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/gif",
              "image/webp"
            ]
          },
          "data": {
            "type": "string",
            "format": "byte"
          }
        },
        "additionalProperties": false
      },
      "ClaudeURLImageSource": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "url"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ClaudeBase64PDFSource": {
        "type": "object",
        "required": [
          "type",
          "media_type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "base64"
            ]
          },
          "media_type": {
            "type": "string",
            "enum": [
              "application/pdf"
            ]
          },
          "data": {
            "type": "string",
            "format": "byte"
          }
        },
        "additionalProperties": false
      },
      "ClaudeURLPDFSource": {
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "url"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ClaudePlainTextSource": {
        "type": "object",
        "required": [
          "type",
          "media_type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "media_type": {
            "type": "string",
            "enum": [
              "text/plain"
            ]
          },
          "data": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ClaudeContentBlockSource": {
        "type": "object",
        "required": [
          "type",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "content"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ClaudeTextBlockParam"
                    },
                    {
                      "$ref": "#/components/schemas/ClaudeImageBlockParam"
                    }
                  ]
                }
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "ClaudeTextBlockParam": {
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "text": {
            "type": "string"
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeImageBlockParam": {
        "type": "object",
        "required": [
          "type",
          "source"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image"
            ]
          },
          "source": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ClaudeBase64ImageSource"
              },
              {
                "$ref": "#/components/schemas/ClaudeURLImageSource"
              }
            ]
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeDocumentBlockParam": {
        "type": "object",
        "required": [
          "type",
          "source"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "document"
            ]
          },
          "source": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ClaudeBase64PDFSource"
              },
              {
                "$ref": "#/components/schemas/ClaudeURLPDFSource"
              },
              {
                "$ref": "#/components/schemas/ClaudePlainTextSource"
              },
              {
                "$ref": "#/components/schemas/ClaudeContentBlockSource"
              }
            ]
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          },
          "citations": {
            "type": "object",
            "required": [
              "enabled"
            ],
            "properties": {
              "enabled": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "context": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ClaudeThinkingBlockParam": {
        "type": "object",
        "required": [
          "type",
          "thinking",
          "signature"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "thinking"
            ]
          },
          "thinking": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ClaudeRedactedThinkingBlockParam": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "redacted_thinking"
            ]
          },
          "data": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ClaudeToolUseBlockParam": {
        "type": "object",
        "required": [
          "type",
          "id",
          "name",
          "input"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tool_use"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeToolResultBlockParam": {
        "type": "object",
        "required": [
          "type",
          "tool_use_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tool_result"
            ]
          },
          "tool_use_id": {
            "type": "string"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ClaudeTextBlockParam"
                    },
                    {
                      "$ref": "#/components/schemas/ClaudeImageBlockParam"
                    },
                    {
                      "$ref": "#/components/schemas/ClaudeDocumentBlockParam"
                    }
                  ]
                }
              }
            ]
          },
          "is_error": {
            "type": "boolean",
            "default": false
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeContentBlockParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ClaudeTextBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeImageBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeDocumentBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeThinkingBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeRedactedThinkingBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeToolUseBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeToolResultBlockParam"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ClaudeMessageParam": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClaudeContentBlockParam"
                }
              }
            ]
          }
        }
      },
      "ClaudeSystemPrompt": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeTextBlockParam"
            }
          }
        ]
      },
      "ClaudeTool": {
        "type": "object",
        "required": [
          "name",
          "input_schema"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "input_schema": {
            "type": "object",
            "additionalProperties": true
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeToolChoice": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "auto"
                ]
              },
              "disable_parallel_tool_use": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "any"
                ]
              },
              "disable_parallel_tool_use": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "type",
              "name"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tool"
                ]
              },
              "name": {
                "type": "string"
              },
              "disable_parallel_tool_use": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "none"
                ]
              },
              "disable_parallel_tool_use": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ClaudeThinkingConfig": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "budget_tokens"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "enabled"
                ]
              },
              "budget_tokens": {
                "type": "integer",
                "minimum": 1024
              },
              "display": {
                "type": "string",
                "enum": [
                  "summarized",
                  "omitted"
                ]
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "disabled"
                ]
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "adaptive"
                ]
              },
              "display": {
                "type": "string",
                "enum": [
                  "summarized",
                  "omitted"
                ]
              }
            },
            "additionalProperties": false
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "AceDataCloudErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "trace_id"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "trace_id": {
            "type": "string"
          }
        }
      },
      "ClaudeMessageCountTokensRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "V1 Messages Count Tokens Model",
            "enum": [
              "claude-fable-5-1",
              "claude-fable-5",
              "claude-opus-5",
              "claude-opus-4-8",
              "claude-sonnet-5",
              "claude-sonnet-4-6",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-opus-4-5-20251101",
              "claude-haiku-4-5-20251001",
              "claude-sonnet-4-5-20250929",
              "claude-opus-4-1-20250805",
              "claude-sonnet-4-20250514",
              "claude-opus-4-20250514",
              "claude-3-7-sonnet-20250219",
              "claude-3-5-sonnet-20241022",
              "claude-3-5-haiku-20241022",
              "claude-3-5-sonnet-20240620",
              "claude-3-haiku-20240307",
              "claude-3-sonnet-20240229"
            ],
            "example": "claude-opus-4-8"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeMessageParam"
            },
            "minItems": 1,
            "maxItems": 100000
          },
          "system": {
            "$ref": "#/components/schemas/ClaudeSystemPrompt"
          },
          "thinking": {
            "$ref": "#/components/schemas/ClaudeThinkingConfig"
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ClaudeToolChoice"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeTool"
            },
            "description": "V1 Messages Count Tokens Tools"
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeMessageCountTokensResponse": {
        "type": "object",
        "required": [
          "input_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "V1 Messages Count Tokens Response 200 Input Tokens"
          }
        }
      },
      "ClaudeMessageCreateRequest": {
        "type": "object",
        "required": [
          "model",
          "messages",
          "max_tokens"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "V1 Messages Model",
            "enum": [
              "claude-fable-5-1",
              "claude-fable-5",
              "claude-opus-5",
              "claude-opus-4-8",
              "claude-sonnet-5",
              "claude-sonnet-4-6",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-opus-4-5-20251101",
              "claude-haiku-4-5-20251001",
              "claude-sonnet-4-5-20250929",
              "claude-opus-4-1-20250805",
              "claude-sonnet-4-20250514",
              "claude-opus-4-20250514",
              "claude-3-7-sonnet-20250219",
              "claude-3-5-sonnet-20241022",
              "claude-3-5-haiku-20241022",
              "claude-3-5-sonnet-20240620",
              "claude-3-haiku-20240307",
              "claude-3-sonnet-20240229"
            ],
            "example": "claude-opus-4-8"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeMessageParam"
            },
            "minItems": 1,
            "maxItems": 100000
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "V1 Messages Max Tokens",
            "example": 1024
          },
          "metadata": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              }
            }
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "V1 Messages Stop Sequences"
          },
          "stream": {
            "type": "boolean",
            "description": "V1 Messages Stream",
            "default": false
          },
          "system": {
            "$ref": "#/components/schemas/ClaudeSystemPrompt"
          },
          "temperature": {
            "type": "number",
            "description": "V1 Messages Temperature",
            "minimum": 0,
            "maximum": 1,
            "example": 1
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ClaudeToolChoice"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeTool"
            },
            "description": "V1 Messages Tools"
          },
          "top_k": {
            "type": "integer",
            "description": "V1 Messages Top K"
          },
          "top_p": {
            "type": "number",
            "description": "V1 Messages Top P"
          },
          "thinking": {
            "$ref": "#/components/schemas/ClaudeThinkingConfig"
          },
          "output_config": {
            "type": "object",
            "description": "V1 Messages Output Config",
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high",
                  "xhigh",
                  "max"
                ],
                "description": "V1 Messages Output Config Effort"
              }
            },
            "additionalProperties": true
          },
          "cache_control": {
            "$ref": "#/components/schemas/ClaudeCacheControlEphemeral"
          }
        }
      },
      "ClaudeTextBlock": {
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "text": {
            "type": "string"
          },
          "citations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "nullable": true
          }
        }
      },
      "ClaudeToolUseBlock": {
        "type": "object",
        "required": [
          "type",
          "id",
          "name",
          "input"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tool_use"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ClaudeContentBlock": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ClaudeTextBlock"
          },
          {
            "$ref": "#/components/schemas/ClaudeThinkingBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeRedactedThinkingBlockParam"
          },
          {
            "$ref": "#/components/schemas/ClaudeToolUseBlock"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ClaudeUsage": {
        "type": "object",
        "required": [
          "input_tokens",
          "output_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "cache_creation_input_tokens": {
            "type": "integer",
            "nullable": true
          },
          "cache_read_input_tokens": {
            "type": "integer",
            "nullable": true
          },
          "cache_creation": {
            "type": "object",
            "required": [
              "ephemeral_1h_input_tokens",
              "ephemeral_5m_input_tokens"
            ],
            "properties": {
              "ephemeral_1h_input_tokens": {
                "type": "integer"
              },
              "ephemeral_5m_input_tokens": {
                "type": "integer"
              }
            },
            "nullable": true
          },
          "service_tier": {
            "type": "string",
            "enum": [
              "standard",
              "priority",
              "batch"
            ],
            "nullable": true
          },
          "cost": {
            "type": "number",
            "description": "V1 Messages Response 200 Usage Cost"
          }
        }
      },
      "ClaudeRefusalStopDetails": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "refusal"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "cyber",
              "bio",
              "frontier_llm",
              "reasoning_extraction",
              "general_harms"
            ],
            "nullable": true
          },
          "explanation": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "ClaudeMessage": {
        "type": "object",
        "required": [
          "id",
          "type",
          "role",
          "content",
          "model",
          "stop_reason",
          "stop_sequence",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "V1 Messages Response 200 Id"
          },
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeContentBlock"
            }
          },
          "model": {
            "type": "string",
            "description": "V1 Messages Response 200 Model"
          },
          "stop_reason": {
            "type": "string",
            "enum": [
              "end_turn",
              "max_tokens",
              "stop_sequence",
              "tool_use",
              "pause_turn",
              "refusal",
              "model_context_window_exceeded"
            ],
            "nullable": true
          },
          "stop_sequence": {
            "type": "string",
            "nullable": true
          },
          "stop_details": {
            "$ref": "#/components/schemas/ClaudeRefusalStopDetails"
          },
          "usage": {
            "$ref": "#/components/schemas/ClaudeUsage"
          }
        }
      },
      "ResponsesInput": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ResponsesInputItem"
            }
          }
        ],
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesinput.14Feedcd5C3D"
      },
      "ResponsesInputItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesMessageInput"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCallOutput"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCallOutput"
          },
          {
            "$ref": "#/components/schemas/ResponsesAdditionalTools"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenInputItem"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesMessageInput": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system",
              "developer"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "phase": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponsesCustomToolCall": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "name",
          "input"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_tool_call"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.8C6Ca8028A3E"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.713201D1840C"
          },
          "input": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesCustomToolCallOutput": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "output"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom_tool_call_output"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.56Bb02E66Ff9"
          },
          "output": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "ResponsesAdditionalTools": {
        "type": "object",
        "required": [
          "type",
          "role",
          "tools"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "additional_tools"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "developer"
            ]
          },
          "tools": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ResponsesTool"
            }
          }
        }
      },
      "ResponsesTool": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesCustomTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesNamespaceTool"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenTool"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesCustomTool": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "format": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ResponsesFunctionTool": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parameters": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "strict": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ResponsesNamespaceTool": {
        "type": "object",
        "required": [
          "type",
          "name",
          "description",
          "tools"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "namespace"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.E87F9B9F039A"
          },
          "description": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "minItems": 1,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResponsesCustomTool"
                },
                {
                  "$ref": "#/components/schemas/ResponsesFunctionTool"
                }
              ],
              "discriminator": {
                "propertyName": "type"
              }
            }
          }
        }
      },
      "ResponsesOutputItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponsesOutputMessage"
          },
          {
            "$ref": "#/components/schemas/ResponsesFunctionToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesCustomToolCall"
          },
          {
            "$ref": "#/components/schemas/ResponsesOpenOutputItem"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ResponsesOutputMessage": {
        "type": "object",
        "required": [
          "type",
          "role",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "status": {
            "type": "string"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "ResponsesUsage": {
        "type": "object",
        "required": [
          "input_tokens",
          "output_tokens",
          "total_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "additionalProperties": true
          },
          "output_tokens_details": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ResponsesResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "in_progress",
              "incomplete",
              "queued",
              "cancelled"
            ]
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponsesOutputItem"
            }
          },
          "output_text": {
            "type": "string"
          },
          "usage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponsesUsage"
              }
            ],
            "nullable": true
          },
          "error": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ResponsesStreamEvent": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Type.Fab6416D3441"
          },
          "response": {
            "$ref": "#/components/schemas/ResponsesResponse"
          },
          "item": {
            "$ref": "#/components/schemas/ResponsesOutputItem"
          },
          "output_index": {
            "type": "integer"
          },
          "delta": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesFunctionToolCall": {
        "type": "object",
        "required": [
          "type",
          "call_id",
          "name",
          "arguments"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function_call"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.4A7F97Cae969"
          },
          "name": {
            "type": "string"
          },
          "arguments": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponsesFunctionToolCallOutput": {
        "type": "object",
        "required": [
          "type",
          "output"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function_call_output"
            ]
          },
          "id": {
            "type": "string"
          },
          "call_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.2De867Df3989"
          },
          "output": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.C324F7126A7C"
          },
          "namespace": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.Bf3297183432"
          }
        },
        "additionalProperties": true
      },
      "ResponsesOpenInputItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "message",
                "function_call",
                "function_call_output",
                "custom_tool_call",
                "custom_tool_call_output",
                "additional_tools"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopeninputitem.E574D2Efca8F"
      },
      "ResponsesOpenTool": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "custom",
                "function",
                "namespace"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopentool.7F928862419E"
      },
      "ResponsesOpenOutputItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "not": {
              "enum": [
                "message",
                "function_call",
                "custom_tool_call"
              ]
            }
          }
        },
        "additionalProperties": true,
        "description": "Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopenoutputitem.03A8Aa0Cff8B"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/messages/count_tokens": {
      "post": {
        "summary": "Claude Messages Count Tokens",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeMessageCountTokensRequest"
              },
              "example": {
                "model": "claude-opus-4-8",
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello!"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "V1 Messages Count Tokens Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaudeMessageCountTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "V1 Messages Count Tokens Response 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "V1 Messages Count Tokens Response 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "V1 Messages Count Tokens Response 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "V1 Messages Count Tokens Response 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "V1 Messages Count Tokens Response 413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "V1 Messages Count Tokens Response 429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "V1 Messages Count Tokens Response 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "V1 Messages Count Tokens Response 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "V1 Messages Count Tokens Response 504",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "countMessageTokens"
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Claude Messages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeMessageCreateRequest"
              },
              "example": {
                "model": "claude-opus-5",
                "messages": [
                  {
                    "role": "user",
                    "content": "Hello!"
                  }
                ],
                "max_tokens": 1024
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "V1 Messages Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaudeMessage"
                }
              }
            }
          },
          "400": {
            "description": "V1 Messages Response 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "V1 Messages Response 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "V1 Messages Response 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "V1 Messages Response 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "V1 Messages Response 413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "V1 Messages Response 429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "V1 Messages Response 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "V1 Messages Response 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "V1 Messages Response 504",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AceDataCloudErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "createMessage"
      }
    },
    "/openai/chat/completions": {
      "post": {
        "summary": "Openai Chat Completions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "choices",
                    "created",
                    "id",
                    "model",
                    "object"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Id"
                    },
                    "model": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Model"
                    },
                    "object": {
                      "enum": [
                        "chat.completion"
                      ],
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 Object"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ],
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "Openai Chat Completions Response 200 Choices Index"
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "role"
                            ],
                            "properties": {
                              "role": {
                                "enum": [
                                  "assistant"
                                ],
                                "type": "string",
                                "description": "Openai Chat Completions Response 200 Choices Message Role"
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "description": "Openai Chat Completions Response 200 Choices Message"
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "type",
                                    "function"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Id"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Type"
                                    },
                                    "function": {
                                      "type": "object",
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function Name"
                                        },
                                        "arguments": {
                                          "type": "string",
                                          "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function Arguments"
                                        }
                                      },
                                      "description": "Openai Chat Completions Response 200 Choices Message Tool Calls Function"
                                    }
                                  }
                                },
                                "description": "Openai Chat Completions Response 200 Choices Message Tool Calls"
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "Openai Chat Completions Response 200 Choices Message Refusal"
                              },
                              "audio": {
                                "type": "object",
                                "nullable": true,
                                "required": [
                                  "id",
                                  "data",
                                  "expires_at"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Id"
                                  },
                                  "expires_at": {
                                    "type": "integer",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Expires At"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Data"
                                  },
                                  "transcript": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Response 200 Choices Message Audio Transcript"
                                  }
                                },
                                "description": "Openai Chat Completions Response 200 Choices Message Audio"
                              }
                            },
                            "description": "Openai Chat Completions Response 200 Choices Message 2"
                          },
                          "finish_reason": {
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response 200 Choices Finish Reason"
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "description": "Openai Chat Completions Response 200 Choices Logprobs",
                            "additionalProperties": true
                          }
                        }
                      },
                      "description": "Openai Chat Completions Response 200 Choices"
                    },
                    "created": {
                      "type": "number",
                      "description": "Openai Chat Completions Response 200 Created"
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "Openai Chat Completions Response 200 System Fingerprint"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Openai Chat Completions Response 200 Usage Total Tokens"
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details Cached Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details Audio Tokens"
                            }
                          },
                          "description": "Openai Chat Completions Response 200 Usage Prompt Tokens Details"
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Reasoning Tokens"
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Audio Tokens"
                            },
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Accepted Prediction Tokens"
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details Rejected Prediction Tokens"
                            }
                          },
                          "description": "Openai Chat Completions Response 200 Usage Completion Tokens Details"
                        }
                      },
                      "description": "Openai Chat Completions Response 200 Usage"
                    }
                  },
                  "description": "Openai Chat Completions Response 200"
                }
              }
            },
            "description": "Openai Chat Completions Response 200 2"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Openai Chat Completions Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Openai Chat Completions Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Openai Chat Completions Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Openai Chat Completions Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Openai Chat Completions Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Openai Chat Completions Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Openai Chat Completions Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Openai Chat Completions Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Openai Chat Completions Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Openai Chat Completions Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Openai Chat Completions Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Openai Chat Completions Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "n": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 128,
                    "minimum": 1,
                    "nullable": true,
                    "description": "Openai Chat Completions N"
                  },
                  "model": {
                    "enum": [
                      "gpt-6-astra",
                      "gpt-oss:free",
                      "gpt-5.5:free",
                      "gpt-5:free",
                      "gpt-4.1:free",
                      "gpt-4o:free",
                      "gpt-4o-mini:free",
                      "gpt-5.6-luna",
                      "gpt-5.6-terra",
                      "gpt-5.6-sol",
                      "gpt-5.5",
                      "gpt-5.5-pro",
                      "gpt-5.4",
                      "gpt-5.4-mini",
                      "gpt-5.4-nano",
                      "gpt-5.4-pro",
                      "gpt-5.2",
                      "gpt-5.1",
                      "gpt-5.1-all",
                      "gpt-5",
                      "gpt-5-mini",
                      "gpt-5-nano",
                      "gpt-4",
                      "gpt-4.1",
                      "gpt-4.1-mini",
                      "gpt-4.1-nano",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-35-turbo-16k",
                      "o1",
                      "o1-mini",
                      "o1-pro",
                      "o3",
                      "o3-mini",
                      "o3-pro",
                      "o4-mini"
                    ],
                    "type": "string",
                    "example": "gpt-4o-mini",
                    "description": "Openai Chat Completions Model"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Stream"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role"
                      ],
                      "properties": {
                        "role": {
                          "enum": [
                            "user",
                            "assistant",
                            "system",
                            "developer",
                            "tool"
                          ],
                          "type": "string",
                          "description": "Openai Chat Completions Messages Role"
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string",
                              "description": "Openai Chat Completions Messages"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "Openai Chat Completions Messages Type"
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "Openai Chat Completions Messages Text"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "image_url"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 2"
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "required": [
                                          "url"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages Image Url Url"
                                          },
                                          "detail": {
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ],
                                            "default": "auto",
                                            "description": "Openai Chat Completions Messages Image Url Detail"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages Image Url"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "input_audio"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "input_audio"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 3"
                                      },
                                      "input_audio": {
                                        "type": "object",
                                        "required": [
                                          "data",
                                          "format"
                                        ],
                                        "properties": {
                                          "data": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages Input Audio Data"
                                          },
                                          "format": {
                                            "type": "string",
                                            "enum": [
                                              "wav",
                                              "mp3"
                                            ],
                                            "description": "Openai Chat Completions Messages Input Audio Format"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages Input Audio"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "file"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "file"
                                        ],
                                        "description": "Openai Chat Completions Messages Type 4"
                                      },
                                      "file": {
                                        "type": "object",
                                        "properties": {
                                          "filename": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File Filename"
                                          },
                                          "file_data": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File File Data"
                                          },
                                          "file_id": {
                                            "type": "string",
                                            "description": "Openai Chat Completions Messages File File Id"
                                          }
                                        },
                                        "description": "Openai Chat Completions Messages File"
                                      }
                                    }
                                  }
                                ]
                              },
                              "minItems": 1,
                              "description": "Openai Chat Completions Messages 2"
                            }
                          ],
                          "description": "Openai Chat Completions Messages 3"
                        },
                        "name": {
                          "type": "string",
                          "description": "Openai Chat Completions Messages Name"
                        },
                        "tool_call_id": {
                          "type": "string",
                          "description": "Openai Chat Completions Messages Tool Call Id"
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "type",
                              "function"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Openai Chat Completions Messages Tool Calls Id"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "Openai Chat Completions Messages Tool Calls Type"
                              },
                              "function": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Messages Tool Calls Function Name"
                                  },
                                  "arguments": {
                                    "type": "string",
                                    "description": "Openai Chat Completions Messages Tool Calls Function Arguments"
                                  }
                                }
                              }
                            }
                          },
                          "description": "Openai Chat Completions Messages Tool Calls"
                        },
                        "refusal": {
                          "type": "string",
                          "nullable": true,
                          "description": "Openai Chat Completions Messages Refusal"
                        }
                      }
                    },
                    "minItems": 1,
                    "description": "Openai Chat Completions Messages 4"
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true,
                    "description": "Openai Chat Completions Max Tokens"
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 2,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Openai Chat Completions Temperature"
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "text"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type"
                          }
                        },
                        "description": "Openai Chat Completions Response Format"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_object"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type 2"
                          }
                        },
                        "description": "Openai Chat Completions Response Format 2"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_schema"
                            ],
                            "type": "string",
                            "description": "Openai Chat Completions Response Format Type 3"
                          },
                          "json_schema": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Openai Chat Completions Response Format Json Schema Name"
                              },
                              "description": {
                                "type": "string",
                                "description": "Openai Chat Completions Response Format Json Schema Description"
                              },
                              "schema": {
                                "type": "object",
                                "description": "Openai Chat Completions Response Format Json Schema",
                                "additionalProperties": true
                              },
                              "strict": {
                                "type": "boolean",
                                "default": false,
                                "nullable": true,
                                "description": "Openai Chat Completions Response Format Json Schema Strict"
                              }
                            }
                          }
                        },
                        "description": "Openai Chat Completions Response Format 3"
                      }
                    ],
                    "description": "Openai Chat Completions Response Format 4"
                  },
                  "tools": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "function"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "Openai Chat Completions Tools Type"
                        },
                        "function": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Openai Chat Completions Tools Function Name"
                            },
                            "description": {
                              "type": "string",
                              "description": "Openai Chat Completions Tools Function Description"
                            },
                            "parameters": {
                              "type": "object",
                              "description": "Openai Chat Completions Tools Function",
                              "additionalProperties": true
                            }
                          },
                          "description": "Openai Chat Completions Tools Function 2"
                        }
                      }
                    },
                    "description": "Openai Chat Completions Tools"
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "Openai Chat Completions Tool Choice"
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "function"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "Openai Chat Completions Tool Choice Type"
                          },
                          "function": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Openai Chat Completions Tool Choice Function Name"
                              }
                            }
                          }
                        },
                        "description": "Openai Chat Completions Tool Choice 2"
                      }
                    ],
                    "description": "Openai Chat Completions Tool Choice 3"
                  },
                  "top_p": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 1,
                    "minimum": 0,
                    "nullable": true,
                    "description": "Openai Chat Completions Top P"
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Openai Chat Completions Frequency Penalty"
                  },
                  "presence_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Openai Chat Completions Presence Penalty"
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Openai Chat Completions Seed"
                  },
                  "stop": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Openai Chat Completions Stop"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 4,
                        "description": "Openai Chat Completions Stop 2"
                      }
                    ],
                    "description": "Openai Chat Completions Stop 3"
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Openai Chat Completions Max Completion Tokens"
                  },
                  "logprobs": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Logprobs"
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true,
                    "description": "Openai Chat Completions Top Logprobs"
                  },
                  "stream_options": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "include_usage": {
                        "type": "boolean",
                        "description": "Openai Chat Completions Stream Options Include Usage"
                      }
                    },
                    "description": "Openai Chat Completions Stream Options"
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true,
                    "description": "Openai Chat Completions Parallel Tool Calls"
                  },
                  "user": {
                    "type": "string",
                    "description": "Openai Chat Completions User"
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "low",
                      "medium",
                      "high"
                    ],
                    "default": "medium",
                    "nullable": true,
                    "description": "Openai Chat Completions Reasoning Effort"
                  },
                  "service_tier": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "default",
                      "flex",
                      "scale",
                      "priority"
                    ],
                    "default": "auto",
                    "nullable": true,
                    "description": "Openai Chat Completions Service Tier"
                  },
                  "store": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Openai Chat Completions Store"
                  },
                  "metadata": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Openai Chat Completions Metadata"
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "integer"
                    },
                    "description": "Openai Chat Completions Logit Bias"
                  },
                  "modalities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "text",
                        "audio"
                      ]
                    },
                    "nullable": true,
                    "description": "Openai Chat Completions Modalities"
                  },
                  "audio": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "voice",
                      "format"
                    ],
                    "properties": {
                      "voice": {
                        "type": "string",
                        "enum": [
                          "alloy",
                          "ash",
                          "ballad",
                          "coral",
                          "echo",
                          "fable",
                          "nova",
                          "onyx",
                          "sage",
                          "shimmer"
                        ],
                        "description": "Openai Chat Completions Audio Voice"
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "wav",
                          "aac",
                          "mp3",
                          "flac",
                          "opus",
                          "pcm16"
                        ],
                        "description": "Openai Chat Completions Audio Format"
                      }
                    },
                    "description": "Openai Chat Completions Audio"
                  },
                  "prediction": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "type",
[...]
