{"openapi":"3.0.0","info":{"title":"Suno Music Generation","version":"1.0.0","description":"API reference for Suno Music Generation on Ace Data Cloud."},"servers":[{"url":"https://api.acedata.cloud","description":"Ace Data Cloud API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API token from https://platform.acedata.cloud"}},"schemas":{"SunoTaskRequestPayload":{"type":"object","additionalProperties":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskrequestpayload.3E062458C7F6"},"SunoTaskResultPayload":{"type":"object","additionalProperties":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Sunotaskresultpayload.70C135D0B754"},"SunoTaskRecord":{"type":"object","required":["id","type","created_at","trace_id","request"],"properties":{"id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Id.2Ce47Ae4F765"},"type":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Type.05Af5F440924"},"trace_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Trace Id.44110346F517"},"request":{"$ref":"#/components/schemas/SunoTaskRequestPayload"},"response":{"$ref":"#/components/schemas/SunoTaskResultPayload"},"created_at":{"type":"number","format":"double","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Created At.948F43Af8E76"},"started_at":{"type":"number","format":"double","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Started At.C19F4A52708A"},"finished_at":{"type":"number","format":"double","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Finished At.8F12D5548Eb7"},"elapsed":{"type":"number","format":"double","minimum":0,"nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Elapsed.17Db47167Dec"},"user_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.User Id.D0C635924606"},"actor_user_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Actor User Id.E7726Bfef8Aa"},"api_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Api Id.A1656C524De0"},"application_id":{"type":"string","description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Application Id.22Aafdc143Ef"},"credential_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Credential Id.Feaa9Eb189Eb"},"authorization_id":{"type":"string","nullable":true,"description":"Openapi.F1143F0B81464Fc0B02Cac8Db969392D.Authorization Id.0Ad648E308Bd"}}}}},"security":[{"bearerAuth":[]}],"paths":{"/suno/wav":{"post":{"summary":"Suno Wav","security":[{"bearerAuth":[]}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"data":[{"file_url":"https://platform2.cdn.acedata.cloud/fish/64adc04b-c196-4a0f-9070-222ba101ce6c.wav"}],"success":true,"task_id":"6a5a2099-d6d3-4930-9709-a30ac5dc7de5","trace_id":"3fa70e81-6bb7-4ca8-b718-dd16a4eda7e8"},"properties":{"data":{"type":"array","description":"Suno Wav Response 200 Data","items":{"type":"object","properties":{"file_url":{"type":"string","description":"Suno Wav Response 200 Data File Url"}}}},"success":{"type":"boolean","description":"Suno Wav Response 200 Success"},"task_id":{"type":"string","description":"Suno Wav Response 200 Task Id"},"trace_id":{"type":"string","description":"Suno Wav Response 200 Trace Id"}}}}},"description":"Suno Wav Response 200"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"token_mismatched","message":"The specified token is not matched with API."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Suno Wav Response 400 Error Code"},"message":{"type":"string","example":"The specified token is not matched with API.","description":"Suno Wav Response 400 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 400 Trace Id"}}},{"type":"object","example":{"error":{"code":"api_not_implemented","message":"The API is not implemented."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_not_implemented","description":"Suno Wav Response 400 Error Code 2"},"message":{"type":"string","example":"The API is not implemented.","description":"Suno Wav Response 400 Error Message 2"}}},"trace_id":{"type":"string","description":"Suno Wav Response 400 Trace Id 2"}}},{"type":"object","example":{"error":{"code":"disabled","message":"Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"disabled","description":"Suno Wav Response 400 Error Code 3"},"message":{"type":"string","example":"Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.","description":"Suno Wav Response 400 Error Message 3"}}},"trace_id":{"type":"string","description":"Suno Wav Response 400 Trace Id 3"}}},{"type":"object","example":{"error":{"code":"bad_request","message":"model is invalid."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"bad_request","description":"Suno Wav Response 400 Error Code 4"},"message":{"type":"string","example":"model is invalid.","description":"Suno Wav Response 400 Error Message 4"}}},"trace_id":{"type":"string","description":"Suno Wav Response 400 Trace Id 4"}}},{"type":"object","example":{"error":{"code":"no_token","message":"No token specified for the request."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"no_token","description":"Suno Wav Response 400 Error Code 5"},"message":{"type":"string","example":"No token specified for the request.","description":"Suno Wav Response 400 Error Message 5"}}},"trace_id":{"type":"string","description":"Suno Wav Response 400 Trace Id 5"}}}]}}},"description":"Suno Wav Response 400"},"401":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"invalid_token","message":"The specified token is invalid or wrong."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_token","description":"Suno Wav Response 401 Error Code"},"message":{"type":"string","example":"The specified token is invalid or wrong.","description":"Suno Wav Response 401 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 401 Trace Id"}}},{"type":"object","example":{"error":{"code":"token_expired","message":"token expired."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_expired","description":"Suno Wav Response 401 Error Code 2"},"message":{"type":"string","example":"token expired.","description":"Suno Wav Response 401 Error Message 2"}}},"trace_id":{"type":"string","description":"Suno Wav Response 401 Trace Id 2"}}},{"type":"object","example":{"error":{"code":"token_mismatched","message":"token and api does not match."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Suno Wav Response 401 Error Code 3"},"message":{"type":"string","example":"token and api does not match.","description":"Suno Wav Response 401 Error Message 3"}}},"trace_id":{"type":"string","description":"Suno Wav Response 401 Trace Id 3"}}}]}}},"description":"Suno Wav Response 401"},"403":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"used_up","message":"Your balance is not sufficient for current request, please buy more in Ace Data Cloud."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"used_up","description":"Suno Wav Response 403 Error Code"},"message":{"type":"string","example":"Your balance is not sufficient for current request, please buy more in Ace Data Cloud.","description":"Suno Wav Response 403 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 403 Trace Id"}}}]}}},"description":"Suno Wav Response 403"},"404":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"no_api","message":"API does not exist, please make sure url is correct."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"no_api","description":"Suno Wav Response 404 Error Code"},"message":{"type":"string","example":"API does not exist, please make sure url is correct.","description":"Suno Wav Response 404 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 404 Trace Id"}}}]}}},"description":"Suno Wav Response 404"},"429":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"too_many_requests","message":"You have exceeded the rate limit."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"too_many_requests","description":"Suno Wav Response 429 Error Code"},"message":{"type":"string","example":"You have exceeded the rate limit.","description":"Suno Wav Response 429 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 429 Trace Id"}}}]}}},"description":"Suno Wav Response 429"},"500":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"api_error","message":"Internal server error."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_error","description":"Suno Wav Response 500 Error Code"},"message":{"type":"string","example":"Internal server error.","description":"Suno Wav Response 500 Error Message"}}},"trace_id":{"type":"string","description":"Suno Wav Response 500 Trace Id"}}}]}}},"description":"Suno Wav Response 500"}},"parameters":[{"in":"header","name":"accept","schema":{"enum":["application/json"],"type":"string"},"required":false,"description":"Suno Wav Param Accept"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["audio_id"],"properties":{"audio_id":{"type":"string","description":"Suno Wav Audio Id"},"callback_url":{"type":"string","description":"Suno Wav Callback Url"},"async":{"type":"boolean","description":"Suno Wav Async"}}},"example":{"audio_id":"c5a97c83-ad13-4b0e-8655-0a68471062fb"}}},"required":true},"operationId":"createSunoWav"}}}}
