{"openapi":"3.0.0","info":{"title":"OpenAI generation","version":"1.0.0","description":"API reference for OpenAI generation on Ace Data Cloud."},"servers":[{"url":"https://api.acedata.cloud","description":"Ace Data Cloud API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API token from https://platform.acedata.cloud"}},"schemas":{"ResponsesInput":{"oneOf":[{"type":"string"},{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ResponsesInputItem"}}],"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesinput.14Feedcd5C3D"},"ResponsesInputItem":{"oneOf":[{"$ref":"#/components/schemas/ResponsesMessageInput"},{"$ref":"#/components/schemas/ResponsesFunctionToolCall"},{"$ref":"#/components/schemas/ResponsesFunctionToolCallOutput"},{"$ref":"#/components/schemas/ResponsesCustomToolCall"},{"$ref":"#/components/schemas/ResponsesCustomToolCallOutput"},{"$ref":"#/components/schemas/ResponsesAdditionalTools"},{"$ref":"#/components/schemas/ResponsesOpenInputItem"}],"discriminator":{"propertyName":"type"}},"ResponsesMessageInput":{"type":"object","required":["role","content"],"properties":{"type":{"type":"string","enum":["message"]},"role":{"type":"string","enum":["user","assistant","system","developer"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]},"phase":{"type":"string","nullable":true}}},"ResponsesCustomToolCall":{"type":"object","required":["type","call_id","name","input"],"properties":{"type":{"type":"string","enum":["custom_tool_call"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.8C6Ca8028A3E"},"name":{"type":"string"},"namespace":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.713201D1840C"},"input":{"type":"string"}},"additionalProperties":true},"ResponsesCustomToolCallOutput":{"type":"object","required":["type","call_id","output"],"properties":{"type":{"type":"string","enum":["custom_tool_call_output"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.56Bb02E66Ff9"},"output":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]}},"additionalProperties":true},"ResponsesAdditionalTools":{"type":"object","required":["type","role","tools"],"properties":{"type":{"type":"string","enum":["additional_tools"]},"role":{"type":"string","enum":["developer"]},"tools":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ResponsesTool"}}}},"ResponsesTool":{"oneOf":[{"$ref":"#/components/schemas/ResponsesCustomTool"},{"$ref":"#/components/schemas/ResponsesFunctionTool"},{"$ref":"#/components/schemas/ResponsesNamespaceTool"},{"$ref":"#/components/schemas/ResponsesOpenTool"}],"discriminator":{"propertyName":"type"}},"ResponsesCustomTool":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["custom"]},"name":{"type":"string"},"description":{"type":"string"},"format":{"type":"object","additionalProperties":true}}},"ResponsesFunctionTool":{"type":"object","required":["type","name"],"properties":{"type":{"type":"string","enum":["function"]},"name":{"type":"string"},"description":{"type":"string"},"parameters":{"type":"object","nullable":true,"additionalProperties":true},"strict":{"type":"boolean","nullable":true}}},"ResponsesNamespaceTool":{"type":"object","required":["type","name","description","tools"],"properties":{"type":{"type":"string","enum":["namespace"]},"name":{"type":"string","minLength":1,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.E87F9B9F039A"},"description":{"type":"string"},"tools":{"type":"array","minItems":1,"items":{"oneOf":[{"$ref":"#/components/schemas/ResponsesCustomTool"},{"$ref":"#/components/schemas/ResponsesFunctionTool"}],"discriminator":{"propertyName":"type"}}}}},"ResponsesOutputItem":{"oneOf":[{"$ref":"#/components/schemas/ResponsesOutputMessage"},{"$ref":"#/components/schemas/ResponsesFunctionToolCall"},{"$ref":"#/components/schemas/ResponsesCustomToolCall"},{"$ref":"#/components/schemas/ResponsesOpenOutputItem"}],"discriminator":{"propertyName":"type"}},"ResponsesOutputMessage":{"type":"object","required":["type","role","content"],"properties":{"type":{"type":"string","enum":["message"]},"id":{"type":"string"},"role":{"type":"string","enum":["assistant"]},"status":{"type":"string"},"content":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"ResponsesUsage":{"type":"object","required":["input_tokens","output_tokens","total_tokens"],"properties":{"input_tokens":{"type":"integer"},"output_tokens":{"type":"integer"},"total_tokens":{"type":"integer"},"input_tokens_details":{"type":"object","additionalProperties":true},"output_tokens_details":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ResponsesResponse":{"type":"object","required":["id","object","status","model","output"],"properties":{"id":{"type":"string"},"object":{"type":"string","enum":["response"]},"created_at":{"type":"integer"},"status":{"type":"string","enum":["completed","failed","in_progress","incomplete","queued","cancelled"]},"model":{"type":"string"},"output":{"type":"array","items":{"$ref":"#/components/schemas/ResponsesOutputItem"}},"output_text":{"type":"string"},"usage":{"allOf":[{"$ref":"#/components/schemas/ResponsesUsage"}],"nullable":true},"error":{"type":"object","nullable":true,"additionalProperties":true}},"additionalProperties":true},"ResponsesStreamEvent":{"type":"object","required":["type"],"properties":{"type":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Type.Fab6416D3441"},"response":{"$ref":"#/components/schemas/ResponsesResponse"},"item":{"$ref":"#/components/schemas/ResponsesOutputItem"},"output_index":{"type":"integer"},"delta":{"type":"string"}},"additionalProperties":true},"ResponsesFunctionToolCall":{"type":"object","required":["type","call_id","name","arguments"],"properties":{"type":{"type":"string","enum":["function_call"]},"id":{"type":"string"},"call_id":{"type":"string","description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.4A7F97Cae969"},"name":{"type":"string"},"arguments":{"type":"string"},"status":{"type":"string"}},"additionalProperties":true},"ResponsesFunctionToolCallOutput":{"type":"object","required":["type","output"],"properties":{"type":{"type":"string","enum":["function_call_output"]},"id":{"type":"string"},"call_id":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Call Id.2De867Df3989"},"output":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"object","additionalProperties":true}}]},"name":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Name.C324F7126A7C"},"namespace":{"type":"string","nullable":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Namespace.Bf3297183432"}},"additionalProperties":true},"ResponsesOpenInputItem":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["message","function_call","function_call_output","custom_tool_call","custom_tool_call_output","additional_tools"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopeninputitem.E574D2Efca8F"},"ResponsesOpenTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["custom","function","namespace"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopentool.7F928862419E"},"ResponsesOpenOutputItem":{"type":"object","required":["type"],"properties":{"type":{"type":"string","not":{"enum":["message","function_call","custom_tool_call"]}}},"additionalProperties":true,"description":"Openapi.Ed972A38Ecef4Fcbaf33750De42D25Dc.Responsesopenoutputitem.03A8Aa0Cff8B"},"OpenaiTaskRequestPayload":{"type":"object","additionalProperties":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskrequestpayload.5B2983943843"},"OpenaiTaskResultPayload":{"type":"object","additionalProperties":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Openaitaskresultpayload.6A35F882Aa4E"},"OpenaiTaskRecord":{"type":"object","required":["id","type","created_at","trace_id","request"],"properties":{"id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Id.F0C4D04Ac901"},"type":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Type.2377365D580B"},"trace_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Trace Id.294E865Afe7D"},"request":{"$ref":"#/components/schemas/OpenaiTaskRequestPayload"},"response":{"$ref":"#/components/schemas/OpenaiTaskResultPayload"},"created_at":{"type":"number","format":"double","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Created At.7Eb1Ea25D63F"},"started_at":{"type":"number","format":"double","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Started At.7B96764Eca42"},"finished_at":{"type":"number","format":"double","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Finished At.Af98E2F04Efa"},"elapsed":{"type":"number","format":"double","minimum":0,"nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Elapsed.438Ff25Abacb"},"user_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.User Id.3444939Bec0F","nullable":true},"actor_user_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Actor User Id.2952Ff9B7F38"},"api_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Api Id.45Cf1B2E805B"},"application_id":{"type":"string","description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Application Id.3Fbf90Fcc98C"},"credential_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Credential Id.7E41Bc205Fd2"},"authorization_id":{"type":"string","nullable":true,"description":"Openapi.8Ff29E12B8144484Ab50D39773A7A563.Authorization Id.271938Ba5A22"}}}}},"security":[{"bearerAuth":[]}],"paths":{"/openai/images/edits":{"post":{"summary":"Openai Images Edits","security":[{"bearerAuth":[]}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","required":["created","data"],"properties":{"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"Openai Images Edits Response 200 Data Url"},"b64_json":{"type":"string","description":"Openai Images Edits Response 200 Data B64 Json"},"revised_prompt":{"type":"string","description":"Openai Images Edits Response 200 Data Revised Prompt"}},"description":"Openai Images Edits Response 200 Data"}},"created":{"type":"number"}}},"example":{"data":[],"created":0}}},"description":"Openai Images Edits Response 200"},"400":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"token_mismatched","message":"The specified token is not matched with API."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"token_mismatched","description":"Openai Images Edits Response 400 Error Code"},"message":{"type":"string","example":"The specified token is not matched with API.","description":"Openai Images Edits Response 400 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 400 Trace Id"}}},{"type":"object","example":{"error":{"code":"api_not_implemented","message":"The API is not implemented."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_not_implemented","description":"Openai Images Edits Response 400 Error Code 2"},"message":{"type":"string","example":"The API is not implemented.","description":"Openai Images Edits Response 400 Error Message 2"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 400 Trace Id 2"}}}]}}},"description":"Openai Images Edits Response 400"},"401":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"invalid_token","message":"The specified token is invalid or wrong."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"invalid_token","description":"Openai Images Edits Response 401 Error Code"},"message":{"type":"string","example":"The specified token is invalid or wrong.","description":"Openai Images Edits Response 401 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 401 Trace Id"}}}]}}},"description":"Openai Images Edits Response 401"},"403":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"forbidden","message":"Sorry! Our Al moderators feel your prompt might be against our community standards."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"forbidden","description":"Openai Images Edits Response 403 Error Code"},"message":{"type":"string","example":"Sorry! Our Al moderators feel your prompt might be against our community standards.","description":"Openai Images Edits Response 403 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 403 Trace Id"}}}]}}},"description":"Openai Images Edits Response 403"},"429":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"too_many_requests","message":"You have exceeded the rate limit."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"too_many_requests","description":"Openai Images Edits Response 429 Error Code"},"message":{"type":"string","example":"You have exceeded the rate limit.","description":"Openai Images Edits Response 429 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 429 Trace Id"}}}]}}},"description":"Openai Images Edits Response 429"},"500":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"api_error","message":"Internal server error."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"api_error","description":"Openai Images Edits Response 500 Error Code"},"message":{"type":"string","example":"Internal server error.","description":"Openai Images Edits Response 500 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 500 Trace Id"}}}]}}},"description":"Openai Images Edits Response 500"},"504":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"error":{"code":"timeout","message":"Timeout to generate the image."},"trace_id":"2efa9340-b21b-4e26-9e14-4aac95f343ab"},"properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"timeout","description":"Openai Images Edits Response 504 Error Code"},"message":{"type":"string","example":"Timeout to generate the image.","description":"Openai Images Edits Response 504 Error Message"}}},"trace_id":{"type":"string","description":"Openai Images Edits Response 504 Trace Id"}}}]}}},"description":"Openai Images Edits Response 504"}},"parameters":[{"in":"header","name":"accept","schema":{"enum":["application/json"],"type":"string"},"required":false,"description":"Openai Images Edits Param Accept"},{"in":"header","name":"Content-Type","schema":{"enum":["multipart/form-data","application/json"],"type":"string"},"required":true,"description":"Openai Images Edits Param Content Type"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["image","prompt"],"properties":{"image":{"oneOf":[{"type":"string","format":"uri"},{"type":"array","items":{"type":"string","format":"uri"},"maxItems":16}],"example":"https://platform.cdn.acedata.cloud/gpt-image/cb104e35-af1f-45be-9fac-b62e2b256753_0.png","description":"Openai Images Edits Image"},"prompt":{"type":"string","example":"Turn this photo into a Studio Ghibli style painting.","description":"Openai Images Edits Prompt"},"model":{"enum":["dall-e-2","dall-e-3","gpt-image-1","gpt-image-1.5","gpt-image-2","gpt-image-2:reverse","gpt-image-2:official","nano-banana","nano-banana-2-lite","nano-banana-2","nano-banana-pro"],"type":"string","default":"dall-e-3","description":"Openai Images Edits Model"},"n":{"type":"integer","default":1,"minimum":1,"maximum":10,"description":"Openai Images Edits N"},"background":{"enum":["transparent","opaque","auto"],"type":"string","default":"auto","description":"Openai Images Edits Background"},"input_fidelity":{"enum":["high","low"],"type":"string","description":"Openai Images Edits Input Fidelity"},"output_format":{"enum":["png","jpeg","webp"],"type":"string","default":"png","description":"Openai Images Edits Output Format"},"output_compression":{"type":"integer","minimum":0,"maximum":100,"default":100,"description":"Openai Images Edits Output Compression"},"quality":{"enum":["auto","high","medium","low","standard"],"type":"string","default":"auto","description":"Openai Images Edits Quality"},"size":{"type":"string","default":"auto","nullable":true,"pattern":"^(auto|\\d+x\\d+)$","description":"Openai Images Edits Size"},"response_format":{"enum":["url","b64_json"],"type":"string","default":"url","nullable":true,"description":"Openai Images Edits Response Format"},"callback_url":{"type":"string","description":"Openai Images Edits Callback Url"},"async":{"type":"boolean","description":"Openai Images Edits Async"}}}},"multipart/form-data":{"schema":{"type":"object","required":["image","prompt"],"properties":{"image":{"type":"array","items":{"type":"string","format":"binary"},"maxItems":16,"description":"Openai Images Edits Multipart Form Data Image"},"prompt":{"type":"string","description":"Openai Images Edits Multipart Form Data Prompt"},"background":{"enum":["transparent","opaque","auto"],"type":"string","default":"auto","description":"Openai Images Edits Multipart Form Data Background"},"input_fidelity":{"enum":["high","low"],"type":"string","description":"Openai Images Edits Multipart Form Data Input Fidelity"},"mask":{"type":"string","format":"binary","description":"Openai Images Edits Multipart Form Data Mask"},"model":{"enum":["dall-e-2","dall-e-3","gpt-image-1","gpt-image-1.5","gpt-image-2","gpt-image-2:reverse","gpt-image-2:official","nano-banana","nano-banana-2","nano-banana-pro"],"type":"string","default":"dall-e-3","description":"Openai Images Edits Multipart Form Data Model"},"n":{"type":"integer","default":1,"minimum":1,"maximum":10,"description":"Openai Images Edits Multipart Form Data N"},"output_compression":{"type":"integer","minimum":0,"maximum":100,"default":100,"description":"Openai Images Edits Multipart Form Data Output Compression"},"output_format":{"enum":["png","jpeg","webp"],"type":"string","default":"png","description":"Openai Images Edits Multipart Form Data Output Format"},"partial_images":{"type":"integer","minimum":0,"maximum":3,"default":0,"description":"Openai Images Edits Multipart Form Data Partial Images"},"quality":{"enum":["auto","high","medium","low","standard"],"type":"string","default":"auto","description":"Openai Images Edits Multipart Form Data Quality"},"response_format":{"enum":["url","b64_json"],"type":"string","default":"url","example":"url","nullable":true,"description":"Openai Images Edits Multipart Form Data Response Format"},"size":{"type":"string","default":"auto","example":"1024x1024","nullable":true,"pattern":"^(auto|\\d+x\\d+)$","description":"Openai Images Edits Multipart Form Data Size"},"callback_url":{"type":"string","description":"Openai Images Edits Multipart Form Data Callback Url"},"async":{"type":"boolean","description":"Openai Images Edits Multipart Form Data Async"}}}}},"required":true},"operationId":"createOpenaiImagesEdits"}}}}
