{
  "openapi": "3.0.0",
  "info": {
    "title": "Gemini AI",
    "version": "1.0.0",
    "description": "API reference for Gemini AI on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "GeminiTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Geminitaskrequestpayload.758312281977"
      },
      "GeminiTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Geminitaskresultpayload.30Ba8De514Ce"
      },
      "GeminiTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Id.8C135Ef760Af"
          },
          "type": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Type.B198791A39Ec"
          },
          "trace_id": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Trace Id.5845C92B8695"
          },
          "request": {
            "$ref": "#/components/schemas/GeminiTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/GeminiTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Created At.0F20089Aa772"
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Started At.570F25Cb4875"
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Finished At.Faf0F3Fc1E03"
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Elapsed.4A45C9D818B2"
          },
          "user_id": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.User Id.673F8F08B955"
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Actor User Id.27De1E075502"
          },
          "api_id": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Api Id.62E563De2A8F"
          },
          "application_id": {
            "type": "string",
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Application Id.40F1A9Aa0B04"
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Credential Id.530422302F67"
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Openapi.E6Bd925D0C4947Bea5C5D087604A8E75.Authorization Id.Ed49279Eb0D1"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/gemini/videos": {
      "post": {
        "summary": "Gemini Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "b8976e18-32dc-4718-9ed8-1ea090fcb6ea",
                    "trace_id": "fb751e1e-4705-49ea-9fd4-5024b7865ea2",
                    "data": [
                      {
                        "id": "omni-flash:job_01k777hjrbfrgs2060q5zvf2a5",
                        "video_url": "https://cdn.acedata.cloud/43a57990c0.mp4",
                        "state": "succeeded"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Gemini Videos Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Gemini Videos Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Gemini Videos Response 200 Trace Id"
                    },
                    "data": {
                      "type": "array",
                      "description": "Gemini Videos Response 200 Data",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Gemini Videos Response 200 Data Id"
                          },
                          "video_url": {
                            "type": "string",
                            "description": "Gemini Videos Response 200 Data Video Url"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "succeeded",
                              "failed"
                            ],
                            "description": "Gemini Videos Response 200 Data State"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Gemini Videos Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "prompt is required when generate video."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Gemini Videos Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "prompt is required when generate video.",
                              "description": "Gemini Videos Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 400 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Gemini Videos Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Gemini Videos Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Gemini Videos Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Gemini Videos Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 403"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Gemini Videos Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Gemini Videos Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Gemini Videos Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Gemini Videos Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Gemini Videos Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "example": "A cinematic shot of a kitten chasing a butterfly in a sunlit garden",
                    "description": "Gemini Videos Prompt"
                  },
                  "model": {
                    "enum": [
                      "omni-flash"
                    ],
                    "type": "string",
                    "default": "omni-flash",
                    "example": "omni-flash",
                    "description": "Gemini Videos Model"
                  },
                  "aspect_ratio": {
                    "enum": [
                      "16:9",
                      "9:16"
                    ],
                    "type": "string",
                    "default": "16:9",
                    "example": "16:9",
                    "description": "Gemini Videos Aspect Ratio"
                  },
                  "resolution": {
                    "enum": [
                      "720p",
                      "1080p"
                    ],
                    "type": "string",
                    "default": "720p",
                    "example": "720p",
                    "description": "Gemini Videos Resolution"
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Gemini Videos Image Urls"
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 1,
                    "description": "Gemini Videos Video Urls"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Gemini Videos Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Gemini Videos Async"
                  }
                }
              }
            }
          },
          "required": true
        },
        "operationId": "createGeminiVideos"
      }
    }
  }
}
