{
  "openapi": "3.0.0",
  "info": {
    "title": "MiniMax H3 Video Generation",
    "version": "1.0.0",
    "description": "API reference for MiniMax H3 Video Generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/minimax/videos": {
      "post": {
        "summary": "Minimax Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "c0f63a98-a7dc-4a09-a1fb-46d32b312a28",
                    "trace_id": "de635999-64f7-4e1d-bff3-a2ff0ea03051",
                    "data": [
                      {
                        "id": "c0f63a98-a7dc-4a09-a1fb-46d32b312a28",
                        "model": "minimax-h3",
                        "mode": "text_to_video",
                        "video_url": "https://platform2.cdn.acedata.cloud/minimax/c0f63a98-a7dc-4a09-a1fb-46d32b312a28.mp4",
                        "state": "succeeded",
                        "duration": 6,
                        "ratio": "16:9",
                        "resolution": "768P"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Minimax Videos Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Minimax Videos Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Minimax Videos Response 200 Trace Id"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Minimax Videos Response 200 Data Id"
                          },
                          "model": {
                            "type": "string",
                            "enum": [
                              "minimax-h3"
                            ],
                            "description": "Minimax Videos Response 200 Data Model"
                          },
                          "mode": {
                            "type": "string",
                            "enum": [
                              "text_to_video",
                              "image_to_video",
                              "audio_guided"
                            ],
                            "description": "Minimax Videos Response 200 Data Mode"
                          },
                          "video_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Minimax Videos Response 200 Data Video Url"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "succeeded"
                            ],
                            "description": "Minimax Videos Response 200 Data State"
                          },
                          "duration": {
                            "type": "number",
                            "description": "Minimax Videos Response 200 Data Duration"
                          },
                          "ratio": {
                            "type": "string",
                            "enum": [
                              "16:9",
                              "9:16"
                            ],
                            "description": "Minimax Videos Response 200 Data Ratio"
                          },
                          "resolution": {
                            "type": "string",
                            "enum": [
                              "768P",
                              "2K"
                            ],
                            "description": "Minimax Videos Response 200 Data Resolution"
                          }
                        }
                      },
                      "description": "Minimax Videos Response 200 Data"
                    }
                  }
                }
              }
            },
            "description": "Minimax Videos Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "prompt is required for text-to-video."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Minimax Videos Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "prompt is required for text-to-video.",
                              "description": "Minimax Videos Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Videos Response 400 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Videos Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Minimax Videos Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Minimax Videos Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Videos Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Videos Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Minimax Videos Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Minimax Videos Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Videos Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Videos Response 403"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "Too many requests, please try again later."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Minimax Videos Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Too many requests, please try again later.",
                              "description": "Minimax Videos Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Videos Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Videos Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Minimax Videos Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Minimax Videos Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Videos Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Videos Response 500"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax-h3"
                    ],
                    "default": "minimax-h3",
                    "example": "minimax-h3",
                    "description": "Minimax Videos Model"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A red fox running through a snowy forest at dawn, cinematic tracking shot",
                    "description": "Minimax Videos Prompt",
                    "maxLength": 7000
                  },
                  "image_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 9,
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Minimax Videos Image Urls"
                  },
                  "audio_urls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Minimax Videos Audio Urls"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "768P",
                      "2K"
                    ],
                    "default": "2K",
                    "example": "768P",
                    "description": "Minimax Videos Resolution"
                  },
                  "ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16"
                    ],
                    "default": "16:9",
                    "example": "16:9",
                    "description": "Minimax Videos Ratio"
                  },
                  "duration": {
                    "type": "integer",
                    "minimum": 4,
                    "maximum": 15,
                    "default": 4,
                    "example": 6,
                    "description": "Minimax Videos Duration"
                  },
                  "aigc_watermark": {
                    "type": "boolean",
                    "default": false,
                    "description": "Minimax Videos Aigc Watermark"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Minimax Videos Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Minimax Videos Async"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        }
      }
    },
    "/minimax/tasks": {
      "post": {
        "summary": "Minimax Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Id"
                    },
                    "request": {
                      "type": "object",
                      "description": "Minimax Tasks Response 200 Request"
                    },
                    "response": {
                      "type": "object",
                      "description": "Minimax Tasks Response 200 Response"
                    },
                    "created_at": {
                      "type": "number",
                      "description": "Minimax Tasks Response 200 Created At"
                    },
                    "started_at": {
                      "type": "number",
                      "description": "Minimax Tasks Response 200 Started At"
                    },
                    "finished_at": {
                      "type": "number",
                      "description": "Minimax Tasks Response 200 Finished At"
                    },
                    "elapsed": {
                      "type": "number",
                      "description": "Minimax Tasks Response 200 Elapsed"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Trace Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Type"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 User Id"
                    },
                    "actor_user_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Actor User Id"
                    },
                    "api_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Api Id"
                    },
                    "application_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Application Id"
                    },
                    "credential_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Credential Id"
                    },
                    "authorization_id": {
                      "type": "string",
                      "description": "Minimax Tasks Response 200 Authorization Id"
                    }
                  }
                }
              }
            },
            "description": "Minimax Tasks Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Minimax Tasks Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Minimax Tasks Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Tasks Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Minimax Tasks Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Minimax Tasks Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Tasks Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Tasks Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Minimax Tasks Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Minimax Tasks Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Tasks Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Tasks Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Minimax Tasks Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Minimax Tasks Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Tasks Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Tasks Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Minimax Tasks Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Minimax Tasks Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Minimax Tasks Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Minimax Tasks Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Minimax Tasks Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Minimax Tasks Id"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Minimax Tasks Ids"
                  },
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "retrieve",
                    "description": "Minimax Tasks Action"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  }
}
